<!-- main.hbs-->

<html>
  <head>
    <title>
      Gone On A Tour
    </title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="./imgs/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
  </head>

  <body>
    <div class="navbar">
      <div class="title">
        <img src="/img/goat.png" />
        <h1>
          Going On a Tour
        </h1>
      </div>

      [
      <a href="/">
        Home Page
      </a>
      |
      <a href="/customers">
        Customers
      </a>
      |
      <a href="/tours">
        Tours
      </a>
      |
      <a href="/guides">
        Guides
      </a>
      |
      <a href="/triplogs">
        Trip Logs
      </a>
      |
      <a href="/reviews">
        Reviews
      </a>
      ]
      <br />
      <hr />
    </div>
    <br />
    {{{body}}}
  </body>
</html>