<!-- main.hbs-->

<html>
  <head>
    <title>
      Gone On A Trip
    </title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/img/goat.ico" type="image/x-icon" />
    <meta charset="utf-8" />
  </head>

  <body>
    <div class="navbar">
      <div class="title">
        <img src="/img/goat.png" />
        <h1>
          Gone On a Trip
        </h1>
      </div>

      [
      <a class="nav__el" href="/">
        🏠Home Page
      </a>
      |
      <a class="nav__el" href="/customers">
        Customers
      </a>
      |
      <a class="nav__el" href="/guides">
        Guides
      </a>
      |
      <a class="nav__el" href="/tours">
        Tours
      </a>
      |
      <a class="nav__el" href="/triplogs">
        Trip Logs
      </a>
      |
      <a class="nav__el" href="/reviews">
        Reviews
      </a>
      ]
      <br />
      <hr />
    </div>
    <br />
    {{{body}}}

    <div class="footer">
      <ul class="footer__nav">
        <li>
          <a href="#">
            About Us
          </a>
        </li>
        <li>
          <a href="#">
            Download Apps
          </a>
        </li>
        <li>
          <a href="#">
            Become a Guide
          </a>
        </li>
        <li>
          <a href="#">
            Careers
          </a>
        </li>
        <li>
          <a href="#">
            Contact
          </a>
        </li>
      </ul>
      <p class="footer__copyright">
        &copy; by Ravindu Udugampola. All rights reserved.
      </p>
    </div>
  </body>
</html>