/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* GLOBAL */


html {
    min-height: 100%;
}

.body {
    background-color: #f08725;
}


body {
    background-image: #5E35B1;
    /*rgb(198, 236, 248)  */
    /* background: linear-gradient(to left bottom, rgb(198, 236, 248), rgb(255, 255, 255)); */
    background: #f08725;
    color: #184b5a;
    /* margin: 1%; */
    /* font-size: 16px; */
    /* height: 100%; */

    /* line-height: 1.6; */
    /* font-weight: 300; */
    font-family: 'Lato', sans-serif;
    padding: 1.5rem;
    /* min-height: 100vh; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main-table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

.main-table tr th {
    background-color: rgb(248, 248, 227);
    padding: 0.5rem;
}

.main-table tr td {
    padding: 0.5rem;
}

.main-table th,
td {
    border: 1px solid gray;
    height: 20px;
    width: 160px;
    /* text-align: center; */
}

.main-table tr:nth-child(odd) td {
    /* f08725 */
    background-color: rgb(247, 247, 240);


}

.main-table tr:nth-child(even) td {
    background-color: rgb(241, 235, 235);
}

p {
    /* border: 1px solid red; */
}

h3 {
    margin-bottom: 3px;
    /* border: 1px solid red; */
    margin: 0px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NAV BAR */
.title {
    display: flex;
    align-items: center;
}

.title img {
    /* height: 50px;
    margin-bottom: 10px; */
    height: 200px;
    margin-right: 10px;
}

.nav__el:hover,
.nav__el:active {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-shadow: 0 0.7rem 1rem rgb(255, 255, 255);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* PAGES */

.form-btns {
    margin-top: 10px;
    margin-left: 50px;
}

.sub-table {
    margin-left: 10px;
    border: none;
}

.sub-table td {
    border: none;
}

.section {
    width: 550px;
    border: 1px solid gray;
    padding: 10px;
    margin-top: 10px;
}

.h3-create {
    margin-bottom: 10px;
}

.errorBox {
    width: 550px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.errorMsg {
    margin: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* FORMS */

select {
    width: 150px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="price"],
input[type="tel"] {
    width: 150px;
    ;
}

textarea {
    width: 150px;
    ;
}

.footer {
    background-color: #f08725;
    padding: 1rem 2rem 1.5rem 0.15rem;
    /* font-size: 1.4rem; */
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0.75rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media only screen and (max-width: 50em) {
    .footer {
        grid-template-columns: 1fr;
        grid-row-gap: 1.25rem;
        justify-items: center;
    }
}

.footer__logo {
    grid-row: 1 / 3;
    -ms-flex-item-align: center;
    align-self: center;
}

@media only screen and (max-width: 50em) {
    .footer__logo {
        grid-row: 1;
    }
}

.footer__logo img {
    height: 3rem;
}

.footer__nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: end;
}

.footer__nav li {
    margin-left: 1.5rem;
}

.footer__nav a {
    color: #184b5a;
    text-decoration: none !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.footer__nav a:hover,
.footer__nav a:active {
    color: #ffffff;
}

.footer__copyright {
    justify-self: end;
    color: #184b5a;
}

@media only screen and (max-width: 50em) {
    .footer__copyright {
        justify-self: center;
    }
}